{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6">
        <h6 class="mt-5"> Em qual sala de bate-papo você gostaria de entrar?</h6> <br>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="room-name-input" aria-describedby=""
                    placeholder="Digite o nome da sala">
                <small id="emailHelp" class="form-text text-muted">Digite o nome da sala de bate-papo<small>
            </div>
            <button type="button" class="btn btn-primary" id="room-name-submit">Entrar</button>
        </form>
    </div>
    <div class="col-md-6"></div>
</div>
{% endblock content %}
{% block js %}

<script>
    document.querySelector('#room-name-input').focus();
    document.querySelector('#room-name-input').onkeyup = function (e) {
        if (e.keyCode === 13) { // enter, return
            document.querySelector('#room-name-submit').click();
        }
    };
    document.querySelector('#room-name-submit').onclick = function (e) {
        var roomName = document.querySelector('#room-name-input').value;
        window.location.pathname = '/chat/' + roomName + '/';
        console.log('room-submit')
    };
</script>
{% endblock js %}
